# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/


# Environment variables
.env

# IDE
.vscode/
.idea/


# Airflow
logs/
airflow.db
airflow.cfg
airflow-webserver.pid



# ChromaDB
chroma_db/

#os
.DS_Store
Thumbs.db


# Docker
*.log
docker-compose.override.yml

#trmporery files
*.tmp
*.temp